<script src="/js/popper.min.js"></script>
@model IEnumerable<MvcAEI.Models.Membre>
@{
    ViewData["Title"] = "Les mandats";
}

<div class="backEquipe">

    <div class="formulaireSelectionMandat">
        <form asp-controller="Membre" asp-action="Index">
            <p>Mandat :
                <select class="selectMembres mb-3 px-5 py-1" name="id">
                    @foreach (var mandat in (IEnumerable<Mandat>)ViewData["mandats"])
                    {
                        <option value="@mandat.Id">@mandat.Annee</option>
                    }
                </select>
                <input type="submit" class="btn boutonFormulaireMandat" style="background-color:#3369E7; color:white;" value="Recherche" />
            </p>
        </form>
    </div>


    <div class="px-4">
        <div class="row p-0 m-0">
            @if (Model.Count() > 0)
            {
                <p class="titrePoleEquipe">Présidence</p>
                <p class="mb-2 descriptionPoleEquipe">Pôle en charge de la gestion global de la structure et du suivi de la stratégie</p>
                <hr class="hrNoir">
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Bureau && item.Role == Role.President)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                    <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                    <div class="motMembresEquipe">
                                        <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                    </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Bureau && item.Role == Role.VicePresident)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                    <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                    <div class="motMembresEquipe">
                                        <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                    </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Bureau && item.Role == Role.Secretaire)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                    <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                    <div class="motMembresEquipe">
                                        <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                    </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Bureau && item.Role == Role.Tresorier)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                    <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                    <div class="motMembresEquipe">
                                        <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                    </div>
                            </div>
                        </div>
                    }
                }

                        <p class="titrePoleEquipe">Pôle Trésorerie</p>
                        <p class="mb-2 descriptionPoleEquipe">Pôle en charge de la gestion financière</p>
                        <hr class="hrNoir">
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Tresorerie && item.Role == Role.Tresorier)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Tresorerie && item.Role == Role.Comptable)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Tresorerie && item.Role == Role.RespoQualite)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }

                        <p class="titrePoleEquipe">Pôle Étude</p>
                        <p class="mb-2 descriptionPoleEquipe">Pôle charge du suivi des études et de l'accompagnement des clients et des réalisateurs</p>
                        <hr class="hrNoir">
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Etude && item.Role == Role.RespoSuiviEtudes)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Etude && item.Role == Role.ChefProjet)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }

                        <p class="titrePoleEquipe">Pôle Communication</p>
                        <p class="mb-2 descriptionPoleEquipe">Pôle en charge de l’identité visuelle de la J.E.</p>
                        <hr class="hrNoir">
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Communication && item.Role == Role.RespoCom)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Communication && item.Role == Role.ChargeComm)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }

                        <p class="titrePoleEquipe">Pôle Développement Commercial</p>
                        <p class="mb-2 descriptionPoleEquipe">Pôle en charge de la stratégie et du développement commercial</p>
                        <hr class="hrNoir">
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.DevCommercial && item.Role == Role.RespoDevCommercial)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.DevCommercial && item.Role == Role.ChargeAffaire)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }


                        <p class="titrePoleEquipe">Pôle Qualité</p>
                        <p class="mb-2 descriptionPoleEquipe">Pôle en charge de la conformité et de la qualité des prestations</p>
                        <hr class="hrNoir">
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Qualite && item.Role == Role.RespoQualite)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.Qualite && item.Role == Role.ChargeQualite)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }

                        <p class="titrePoleEquipe">Pôle DSI (Direction des Systèmes d’Informations)</p>
                        <p class="mb-2 descriptionPoleEquipe">Pôle en charge des Systèmes d'Information</p>
                        <hr class="hrNoir">
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.SystemeInformation && item.Role == Role.RespoSystInformation)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                foreach (var item in Model)
                {
                    if (item.Pole == Pole.SystemeInformation && item.Role == Role.RespoTechnique)
                    {
                        <div class="cadreMembre d-flex justify-content-start">  
                            <img src=@Html.DisplayFor(modelItem => item.Photo) class="photoMembre" alt="image membre anonyme"></img>
                            <div class="descriptionMembre">
                                <p class="nomMembreEquipe">@Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.Nom)</p>
                                <p class="roleMembreEquipe">@Html.DisplayFor(modelItem => item.Role) </p>
                                <div class="motMembresEquipe">
                                    <p class="d-flex align-items-end">@Html.DisplayFor(modelItem => item.Mot)</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>

</div>

