@model IEnumerable<MvcAEI.Models.Mandat>

@{
    ViewData["Title"] = "Les Mandats";
}

<div class="backMandatIndex">

    <!-- Message de succrés de création de mandat (si un mandat vient d'être crée) -->
    @if (@TempData["messageSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["messageSuccess"]
        </div>
    }

    <!-- Titre de la page -->
    <h2 class="mb-5" style="color: #0C2764; text-align:center;">Les Mandats</h2>
    <!-- Bouton pour créer un mandat -->
    <a class="btn btn-dark ml-5" asp-controller="Mandat" asp-action="Creer"><i class="bi bi-plus-circle"></i> Ajouter un
        Mandat</a>
    <div class="card-group mt-5" style="align-items: center; justify-content: center;">
        <div style="width: 20em;">
            <!-- Vérification de l'existence de mandat-->
            @foreach (var item in Model)
            {
                <!-- Boucle pour afficher tous les mandats -->
                <div class="mb-4">
                    <div class="card" style="width: 100%;">
                        <!-- Affichage de l'année du mandat-->
                            <h5 class="card-title mt-2" style="text-align: center;">@Html.DisplayFor(modelItem => item.Annee)</h5>
                            <hr>
                            <div style="margin: auto;">
                                <!-- Bouton pour modifier un mandat -->
                                <a asp-action="Modifier" asp-route-id="@item.Id" class="btn btn-primary mb-1" style="display:block;">Modifier</a>
                                <!-- Bouton pour supprimer un mandat -->
                                <a asp-action="Supprimer" asp-route-id="@item.Id" class="btn btn-danger mb-1">Supprimer</a>
                            </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>